# Gradle
.gradle/
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDE - ignore most but keep run configurations
.idea/*
!.idea/runConfigurations/
*.iml

# Hytale
libs/HytaleServer.jar
server/mods/
server/logs/
server/world/
server/

docs-cache/

updater/staging/

bin/main/xyz/thelegacyvoyage/hyessentialsx/managers/

bin/main/xyz/thelegacyvoyage/hyessentialsx/migration/

bin/main/xyz/thelegacyvoyage/hyessentialsx/models/

bin/test/xyz/thelegacyvoyage/hyessentialsx/managers/

bin/main/Common/UI/Custom/hyessentialsx/

bin/main/lang/

bin/main/

bin/test/xyz/thelegacyvoyage/hyessentialsx/util/
